.faq {
  width: 50%;
  box-sizing: border-box;
  padding-left: 89px;
  padding-right: 167px;
}

.title {
  composes: title from '../reviews/reviews.module.scss';
  padding-bottom: 16px;
}

.description {
  margin: 0;
  text-align: center;
  margin-bottom: 28px;
}

.questionsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.questionsItem {
  position: relative;
  padding: 18px 0 16px 64px;
  border-bottom: 1px solid #e7ebf0;

  &:last-child {
    border-bottom: none;
  }
}

.question {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 0;

  .active & {
    color: #00c368;
    margin-bottom: 16px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 40px;
    left: 0;
    top: 10px;
    border-radius: 50%;
    background-color: #e7ebf0;
  }
}

.reply {
  display: none;
  margin: 0;
  line-height: 18px;

  .active & {
    display: block;
  }
}

.button {
  position: absolute;
  content: '';
  width: 20px;
  height: 11px;
  right: -28px;
  top: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../../../public/img/faq-button-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
