.reviews {
  width: 50%;
  padding-left: 86px;
  padding-right: 79px;
  box-sizing: border-box;
}

.title {
  composes: title from '../page-hero/page-hero.module.scss';
  text-transform: none;
  padding-top: 125px;
  padding-bottom: 46px;

  &::before {
    top: 102px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  display: flex;
  width: 353px;
  padding-left: 40px;
  box-sizing: border-box;

  img {
    display: block;
    position: absolute;
    width: 109px;
    height: auto;
    object-fit: contain;
  }
}

.left {
  .quote {
    padding-right: 90px;
  }

  img {
    top: -10px;
    right: 8px;
  }

  @media (max-width: 1758px) {
    margin-bottom: 40px;
  }
}

.right {
  .quote {
    padding-left: 95px;
  }

  img {
    top: -10px;
    left: 8px;
  }

  @media (max-width: 1758px) {
    margin-left: auto;
  }
}

.big {
  width: 100%;
  margin-bottom: 138px;

  img {
    display: block;
    width: 217px;
    height: auto;
    margin-left: -13px;
  }
}

.quote {
  position: relative;
}

.big .quote {
  padding-left: 260px;

  &::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 27px;
    background-image: url('../../../public/img/quotes.svg');
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    left: 204px;
  }

  &::before {
    position: absolute;
    content: '';
    width: 40px;
    height: 27px;
    background-image: url('../../../public/img/quotes.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    bottom: -9px;
    right: -22px;
  }
}

.reviewText {
  margin: 0;
  padding-bottom: 12px;
}

.reviewAuthor {
  font-weight: bold;
}
