.pageHero {
  position: relative;
  width: 100%;
  background-image: linear-gradient(111.04deg, #e2e2e2 0.39%, rgba(255, 255, 255, 0) 86.46%);
  padding-bottom: 87px;

  @media (max-width: 1199px) {
    background: none;
    padding: 0;
    margin-bottom: 80px;
  }
}

.bgGroup1,
.bgGroup2 {
  position: absolute;
  background-repeat: no-repeat;

  @media (max-width: 1199px) {
    display: none;
  }
}

.bgGroup1 {
  width: 442px;
  height: 618px;
  background-image: url('../../../public/img/bg-1.png');
  left: 0;
  bottom: 0;
}

.bgGroup2 {
  width: 612px;
  height: 623px;
  background-image: url('../../../public/img/bg-2.png');
  right: 0;
  top: -38px;
}

.title {
  position: relative;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 101px;
  margin: 0;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    width: 184px;
    height: 4px;
    background: #00c368;
    top: 75px;
    left: calc(50% - 184px / 2);
  }

  @media (max-width: 1199px) {
    font-size: 24px;
    line-height: 28px;
    padding-top: 0;
    margin-bottom: 50px;
    margin-top: -18px;

    &::before {
      display: none;
    }
  }
}

.list {
  margin: 69px auto 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1000px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 178px;
  z-index: 1;
}

.imageWrapper {
  width: 600px;
  height: 286px;
  margin-top: -30px;
  margin-right: -50px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  z-index: 1;
}

.tablet {
  .itemIcon,
  .itemText {
    margin-right: -98px;
  }
}

.support,
.square {
  margin-bottom: 50px;
}

.support,
.square,
.support2,
.square2 {
  min-width: 426px;
}

.support,
.support2 {
  .itemIcon,
  .itemText {
    margin-left: 215px;
  }
}

.square,
.square2 {
  .itemIcon,
  .itemText {
    margin-right: 65px;
  }
}

.itemIcon {
  svg {
    display: block;
    margin: 0 auto;
    transition: color 0.15s ease;
  }

  &:hover svg {
    color: #00c368;
  }
}

.itemText {
  margin: 0;
  max-width: 178px;
  text-align: center;

  @media (max-width: 1199px) {
    margin: 0 auto 70px;
  }
}

.swiper > div.pagination {
  width: 50%;
  left: calc(50% - 50% / 2);
}

div[role='button'] {
  top: auto;
  bottom: -33px;
  color: #a6abbd;
  scale: 0.5;
  padding: 30px 10% 30px 10%;
}

div.pagination > span.bullet {
  background: #e7ebf0;
}

div.pagination > span.bulletActive {
  background: #a6abbd;
}
