.main {
  max-width: 1920px;
  background-color: #f8fbff;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 97px;

  @media (max-width: 1199px) {
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
  }
}
