.main {
  max-width: 1920px;
  background-color: #f8fbff;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 97px;

  @media (max-width: 767px) {
    padding: 0 16px;
  }
}
